
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    
    
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 10px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;

}
nav .logo-name{
    display: block;
    align-items: center;
    padding: 0;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 20px;
}
nav .logo-image img{
    width: 100px;
    object-fit: cover;
}

nav .logo-name .logo_name{
    font-size: 17px;
    font-weight: 600;
    margin-left: 38px;
    text-align: center;
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav.close .logo-image img{
    width:50px;
}

.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: black;
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: white;
}
body.dark .logo-name .logo_name{
    color: #CCC;
}
body.dark .min-content .table tbody tr:nth-child(odd){
    background: #ffffff;

}
body.dark .min-content .table tbody tr:nth-child(even){
    background: #aaaaaa;
}

body.dark .dash-content .details{
    background: white;
}


.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 100px;
    height: 45px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav.close .menu-items .mode-toggle{
    right:20px;
}
nav.close .mode .half-circle{
    display: none;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}


.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}


.dashboard .dash-content{
    padding-top: 50px;
    width: 100%;
    
}
.dash-content .top-content{
    width: 100%;
    display: flex;

}
 .min-content{
    width: 100%;
    text-align: center;
}
.dash-content .details{
    margin: 30px auto;
    width: 250px;
    height: 100px;
    background: #aff0f6;
    padding: 0px,50px;
    border-radius: 20px;
}



.dash-content .details h3{
    text-align: center;
    padding: 0px 10px;
    margin: 15px auto;
    font-size: 15px;
}
.min-content .table{
    border-collapse: collapse;
    width: 100%;

}
.min-content .table th{
    color: #fff;
    background: #000;
    border: none;
    padding: 8px 8px;
}
.min-content .table tbody tr td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.min-content .table tbody tr td{
    border: none;
    padding: 5px 8px;
    text-align: center;
}
.min-content .table tbody tr:nth-child(odd){
    background: #ffc8fa;

}
.min-content .table tbody tr:nth-child(even){
    background: #fff1ea;

}

.content{
    width: 100%;
    height: 350px;
    overflow: scroll;
}
:is(.content)::-webkit-scrollbar{
    width: 0px;
}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 60px; 
    }

    nav {
        width: 100%;
        position: relative;
        border-right: none;
        transition: none;
        left: 0;
    }

    nav.close {
        width: 100%;
        display: none;
    }
    nav.close ~ .dashboard {
        left: 0px;
        width: 100%;
        margin: 10px;
    }
    nav .menu-items {
        margin-top: 10px;
        height: auto;
    }

    nav .menu-items li a {
        height: 40px;
    }

    nav .logo-name {
        display: none;
    }

    nav .logo-image img {
        width: 80px;
    }

    .dashboard {
        left: 0;
        width: 100%;
        padding-left: 0;
        transition: none;
    }

    .dashboard .top,
    nav.close ~ .dashboard .top {
        left: 0;
        width: 100%;
    }

    .dashboard .top .search-box,
    .top .search-box input {
        max-width: 100%;
    }

    .dashboard .dash-content .details {
        width: 100%;
        margin: 10px auto;
    }
    .dash-content .top-content{
       padding: 10px;
    }

    .dash-content .top-content {
        flex-direction: column;
    }

    .min-content .table th,
    .min-content .table tbody tr td {
        padding: 5px;
    }

    .min-content .table tbody tr td img {
        width: 40px;
        height: 40px;
    }
    
}
@media only screen and (min-width: 768px) {
    .dash-content .top-content{
        padding: 20px;
     }
     .dashboard .dash-content .details {
        margin: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    nav {
        width: 300px;
    }

    nav.close {
        width: 73px;
    }

    .dashboard {
        left: 250px;
        width: calc(100% - 250px);
        padding-left: 14px;
    }

    nav.close ~ .dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
}

